<h1>Orders</h1>
<% if @orders.empty? %>
    <h2>No orders</h2>
<% end %>
<% @orders.each do |order| %>
    Date <% order.created_at %>
    Purchases <br>
    <% order.purchases.each do |purchase| %>
        <div>Name <%= purchase.product.name %> </div>
        <div>Amount <%= purchase.amount %></div>
    <% end %>
    <div>Total cost: <%= order.total_cost %></div>
    <%= link_to 'Order', "orders/#{order.id}" %>
<% end %>