// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
  height: 100%;
}

.categories_info {
  margin: 0 5px 5px 5px;
}

.panel-body{
  height:80%;
}

.category_img {
  width: 20%;
  max-width: 20%;
  float:left;
  margin: 0 4% 0 0;
}

.description{
  width: 75%;
  float:left;
}